<div class="modal-backdrop">

<div class="modal-box">


<div class="modal-header">

<h2>
{{'transaction_form.title' | translate}}
</h2>


<button
class="close-btn"
(click)="close.emit()">

×

</button>

</div>




<div class="form-grid">



<div class="input-group">

<label>
{{'transaction_form.date' | translate}}
</label>


<input

type="date"

[(ngModel)]="newData.date"

(ngModelChange)="errorMessage=''"

name="date"

class="custom-datepicker">

</div>





<div class="input-group">

<label>
{{'transaction_form.amount' | translate}}
</label>


<div class="amount-wrapper">

<input

type="number"

[(ngModel)]="newData.amount"

(ngModelChange)="errorMessage=''"

name="amount"

[placeholder]="
'transaction_form.amount_placeholder' | translate
">

<span>
{{'currency.symbol' | translate}}
</span>

</div>

</div>





<div class="input-group full-width">

<label>
{{'transaction_form.description' | translate}}
</label>


<input

type="text"

[(ngModel)]="newData.desc"

(ngModelChange)="errorMessage=''"

name="desc"

[placeholder]="
'transaction_form.description_placeholder' | translate
">

</div>







<div class="input-group">

<label>
{{'transaction_form.account' | translate}}
</label>


<select

[(ngModel)]="newData.account"

(change)="errorMessage=''"

name="account">


<option

[ngValue]="null"

disabled>

{{'transaction_form.select_account' | translate}}

</option>


<option

*ngFor="let acc of accounts"

[value]="acc.id">

{{acc.name}}

</option>


</select>

</div>








<div class="input-group">

<label>
{{'transaction_form.category' | translate}}
</label>


<select

[(ngModel)]="newData.category"

(change)="errorMessage=''"

name="category">


<option

[ngValue]="null"

disabled>

{{'transaction_form.select_category' | translate}}

</option>


<option

*ngFor="let cat of categories"

[value]="cat.id">

{{cat.name}}

</option>


</select>

</div>







<div class="input-group">

<label>
{{'transaction_form.kind' | translate}}
</label>


<select

[(ngModel)]="newData.kind"

(change)="errorMessage=''"

name="kind">


<option value="expense">

{{'transaction_form.expense' | translate}}

</option>


<option value="income">

{{'transaction_form.income' | translate}}

</option>


</select>

</div>


</div>






<div

*ngIf="errorMessage"

class="error-box">


<span>

{{errorMessage}}

</span>


</div>







<div class="modal-actions">


<button

class="btn-cancel"

(click)="close.emit()">

{{'common.cancel' | translate}}

</button>




<button

class="btn-save"

(click)="save()">

{{'transaction_form.save' | translate}}

</button>


</div>



</div>

</div>
