.modal-backdrop{
position:fixed;
inset:0;
background:rgba(0,0,0,.85);
display:flex;
justify-content:center;
align-items:center;
z-index:9999;
padding:20px;
direction:inherit;
}


.modal-box{
width:100%;
max-width:500px;
background:#1c1b22;
border:1px solid rgb(39,39,42);
border-radius:16px;
padding:24px;
color:white;
box-sizing:border-box;
font-family:inherit;
}


.modal-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:25px;
}


.modal-header h2{
margin:0;
font-size:20px;
font-weight:700;
}


.close-btn{
background:none;
border:none;
color:#a1a1aa;
font-size:25px;
cursor:pointer;
}


.close-btn:hover{
color:white;
}


.form-grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:16px;
}


.full-width{
grid-column:span 2;
}


.input-group{
display:flex;
flex-direction:column;
gap:7px;
}


.input-group label{
color:#a1a1aa;
font-size:14px;
}


input,
select{
width:100%;
background:#09090b;
border:1px solid rgb(39,39,42);
color:white;
padding:12px;
border-radius:10px;
outline:none;
box-sizing:border-box;
font-family:inherit;
direction:inherit;
}


input:focus,
select:focus{
border-color:#3b82f6;
}


input::placeholder{
color:#71717a;
}


.custom-datepicker{
direction:ltr;
}


.amount-wrapper{
position:relative;
display:flex;
align-items:center;
}


.amount-wrapper input{
padding-left:55px;
}


.amount-wrapper span{
position:absolute;
left:14px;
color:#a1a1aa;
font-size:13px;
direction:ltr;
}



.modal-actions{
display:flex;
justify-content:flex-start;
gap:12px;
margin-top:25px;
}


.btn-save{
background:white;
color:black;
border:none;
padding:11px 25px;
border-radius:10px;
cursor:pointer;
font-family:inherit;
}


.btn-save:hover{
background:#e5e5e5;
}


.btn-cancel{
background:#27272a;
color:white;
border:none;
padding:11px 25px;
border-radius:10px;
cursor:pointer;
font-family:inherit;
}


.btn-cancel:hover{
background:#3f3f46;
}



.error-box{
margin-top:20px;
background:rgba(248,113,113,.1);
border:1px solid rgba(248,113,113,.4);
color:#fca5a5;
padding:12px;
border-radius:10px;
}



html[dir="rtl"] .modal-backdrop{
direction:rtl;
}


html[dir="ltr"] .modal-backdrop{
direction:ltr;
}


html[dir="rtl"] .modal-box{
text-align:right;
}


html[dir="ltr"] .modal-box{
text-align:left;
}


html[dir="rtl"] .amount-wrapper span{
left:auto;
right:14px;
}


html[dir="rtl"] .amount-wrapper input{
padding-left:12px;
padding-right:55px;
}


html[dir="ltr"] .amount-wrapper input{
padding-left:12px;
padding-right:55px;
}


@media(max-width:600px){

.modal-box{
padding:18px;
}


.form-grid{
grid-template-columns:1fr;
}


.full-width{
grid-column:auto;
}


.modal-actions{
flex-direction:column;
}


.btn-save,
.btn-cancel{
width:100%;
}

}
