<div class="transactions-page">

<div class="transactions-layout">

<aside class="transactions-sidebar">

<app-transaction-sidebar
(filterChanged)="onFilterUpdate($event)"
(categoryChanged)="onCategoryFilter($event)">
</app-transaction-sidebar>

</aside>


<main class="transactions-content">


<div class="transactions-header">

<div class="title-section">

<h1>
{{'transactions.title' | translate}}
</h1>

<p>
{{'transactions.description' | translate}}
</p>

</div>


<button
class="add-button"
(click)="showAddModal=true">

+ {{'transactions.add' | translate}}

</button>


</div>



<div
class="summary-cards"
*ngIf="hasData">


<div class="summary-card expense">

<span>
{{'transactions.total_expense' | translate}}
</span>

<strong>

{{totalExpense | number:'1.0-0'}}
{{'currency.symbol' | translate}}

</strong>

</div>



<div class="summary-card income">

<span>
{{'transactions.total_income' | translate}}
</span>

<strong>

{{totalDeposit | number:'1.0-0'}}
{{'currency.symbol' | translate}}

</strong>

</div>


</div>



<div
class="empty-state"
*ngIf="!hasData">


<div class="empty-icon">
💳
</div>


<h3>
{{'transactions.empty_title' | translate}}
</h3>


<p>
{{'transactions.empty_description' | translate}}
</p>


</div>
<section
class="charts-section"
*ngIf="hasData">


<div class="chart-box">

<h3>
{{'transactions.category_analysis' | translate}}
</h3>


<app-donut-chart
[series]="chartData"
[labels]="chartLabels"
[colors]="chartColors"
[centerText]="donutCenterText"
[centerSubText]="donutCenterSubText">
</app-donut-chart>


</div>



<div class="chart-box">

<h3>
{{'transactions.daily_analysis' | translate}}
</h3>


<app-bar-chart
[data]="barData"
[categories]="barLabels"
[colors]="chartColors"
[tooltipFormatter]="barTooltipFormatter">
</app-bar-chart>


</div>


</section>





<section
class="table-section"
*ngIf="hasData">


<app-transaction-table

[groups]="groupedTransactions"

[grandTotalExpense]="totalExpense"

[grandTotalDeposit]="totalDeposit">

</app-transaction-table>


</section>



</main>

</div>





<app-add-new-transaction

*ngIf="showAddModal"

(close)="showAddModal=false"

(saved)="onTransactionSaved()">

</app-add-new-transaction>


</div>
