<div class="sidebar-root">

<div class="sidebar-title">
{{'transactions.filters' | translate}}
</div>


<div class="filter-section">

<div class="section-title"
(click)="toggleMenu('month')">

<span>
{{'transactions.saved_views' | translate}}
</span>

<span>
{{ menus.month ? '−' : '+' }}
</span>

</div>


<div
*ngIf="menus.month"
class="section-content">


<button
class="filter-item"
[class.active]="activeView==='current-month'"
(click)="selectView('current-month')">

{{'transactions.current_month' | translate}}

</button>


<button
class="filter-item"
[class.active]="activeView==='last-month'"
(click)="selectView('last-month')">

{{'transactions.last_month' | translate}}

</button>


<button
class="filter-item"
[class.active]="activeView==='today'"
(click)="selectView('today')">

{{'transactions.today' | translate}}

</button>


<button
class="filter-item"
[class.active]="activeView==='yesterday'"
(click)="selectView('yesterday')">

{{'transactions.yesterday' | translate}}

</button>


</div>

</div>




<div class="filter-section">

<div class="section-title"
(click)="toggleMenu('year')">

<span>
{{'transactions.year' | translate}}
</span>

<span>
{{ menus.year ? '−' : '+' }}
</span>

</div>


<div
*ngIf="menus.year"
class="section-content">


<button
*ngFor="let year of years"
class="filter-item"
[class.active]="selectedYears.includes(year)"
(click)="toggleYear(year)">

{{year}}

</button>


<button
class="clear-btn"
(click)="clearYearFilter()">

{{'common.clear' | translate}}

</button>


</div>

</div>





<div class="filter-section">

<div class="section-title"
(click)="toggleMenu('misc')">

<span>
{{'transactions.categories' | translate}}
</span>

<span>
{{ menus.misc ? '−' : '+' }}
</span>

</div>



<div
*ngIf="menus.misc"
class="section-content">


<button
class="filter-item"
(click)="selectAllCategories()">

{{'transactions.all_categories' | translate}}

</button>



<button
*ngFor="let category of visibleCategories"
class="filter-item"
[class.active]="selectedCat===category"
(click)="selectCategory(category)">

{{category}}

</button>



<button
*ngIf="categories.length > 6"
class="show-more"
(click)="showAllCategories=!showAllCategories">

{{showAllCategories
?
('common.show_less' | translate)
:
('common.show_more' | translate)}}

</button>



<button
class="clear-btn"
(click)="clearCategoryFilter()">

{{'common.remove_filter' | translate}}

</button>


</div>

</div>





<div class="filter-section">

<div class="section-title"
(click)="toggleMenu('day')">

<span>
{{'transactions.months' | translate}}
</span>


<span>
{{ menus.day ? '−' : '+' }}
</span>


</div>



<div
*ngIf="menus.day"
class="section-content">


<button
*ngFor="let month of visibleMonths"
class="filter-item"
[class.active]="selectedMonths.includes(month)"
(click)="toggleMonth(month)">

{{month}}

</button>



<button
*ngIf="months.length > 6"
class="show-more"
(click)="showAllMonths=!showAllMonths">


{{showAllMonths
?
('common.show_less' | translate)
:
('common.show_more' | translate)}}


</button>



<button
class="clear-btn"
(click)="clearMonthFilter()">

{{'common.clear' | translate}}

</button>


</div>

</div>





<button
class="advanced-filter-toggle"
(click)="toggleAdvancedFilters()">

{{'transactions.advanced_filters' | translate}}

</button>


</div>
