<div class="configuration-wrapper">


<div class="section-header main-header">

<div>

<h3>
{{'configuration.title' | translate}}
</h3>


<p>
{{'configuration.description' | translate}}
</p>


</div>


</div>





<div class="config-section">


<div class="section-header">


<h4>
🏷️ {{'configuration.categories' | translate}}
</h4>



<button

class="add-btn"

(click)="onAddCategory()">

+
{{'configuration.add_category' | translate}}

</button>


</div>





<div class="category-list">


<div

class="category-item"

*ngFor="let category of categories">


<div class="category-info">


<span

class="category-color"

[style.background]="category.color">

</span>



<p class="category-name">

{{category.name}}

</p>



</div>





<div class="category-actions">


<button

class="action-btn"

[title]="'common.edit' | translate"

(click)="onEditCategory(category)">

✏️

</button>





<button

class="action-btn"

[title]="'common.delete' | translate"

(click)="onDeleteCategory(category)">

🗑️

</button>


</div>



</div>



</div>



</div>









<div

class="modal-backdrop"

*ngIf="showDeleteModal">


<div class="modal-box delete-modal">


<h3>

{{'configuration.delete_category' | translate}}

</h3>




<div class="delete-info">


<p>

{{'configuration.used_in' | translate}}

</p>




<div class="usage-stats">



<div class="usage-item">

<span class="usage-icon">

💳

</span>


<strong>

{{usageCount.transaction_count}}

</strong>


<span>

{{'configuration.transactions' | translate}}

</span>


</div>





<div class="usage-item">


<span class="usage-icon">

💰

</span>


<strong>

{{usageCount.budget_count}}

</strong>


<span>

{{'configuration.budgets' | translate}}

</span>


</div>



</div>






<p

class="warning-text"

*ngIf="usageCount.total_count > 0">

{{'configuration.delete_warning' | translate}}

</p>





<p

class="safe-text"

*ngIf="usageCount.total_count === 0">

{{'configuration.safe_delete' | translate}}

</p>


</div>







<div class="modal-actions">


<button

class="btn-cancel"

(click)="cancelDelete()">

{{'common.cancel' | translate}}

</button>



<button

class="btn-delete"

(click)="confirmDelete()">

{{'common.delete' | translate}}

</button>


</div>



</div>

</div>









<div class="config-section">


<div class="section-header">


<h4>

🔔 {{'configuration.notifications' | translate}}

</h4>


</div>







<div class="notification-settings">



<div class="notification-setting-item">


<div class="notification-setting-info">


<p class="notification-setting-title">

{{'configuration.budget_alerts' | translate}}

</p>


<span class="notification-setting-description">

{{'configuration.budget_alerts_desc' | translate}}

</span>


</div>





<label class="toggle">


<input

type="checkbox"

[checked]="notificationPrefs.budget_alerts"

(change)="onTogglePreference('budget_alerts',$any($event.target).checked)">


<span class="slider"></span>


</label>


</div>








<div class="notification-setting-item">


<div class="notification-setting-info">


<p class="notification-setting-title">

{{'configuration.budget_threshold' | translate}}

</p>


<span class="notification-setting-description">

{{'configuration.budget_threshold_desc' | translate}}

</span>


</div>





<div class="budget-threshold">


<select

[ngModel]="notificationPrefs.budget_threshold"

(ngModelChange)="onChangeThreshold($event)">


<option [value]="70">
70%
</option>


<option [value]="80">
80%
</option>


<option [value]="90">
90%
</option>


<option [value]="100">
100%
</option>


</select>


</div>


</div>








<div class="notification-setting-item">


<div class="notification-setting-info">


<p class="notification-setting-title">

{{'configuration.spending_alerts' | translate}}

</p>


<span class="notification-setting-description">

{{'configuration.spending_alerts_desc' | translate}}

</span>


</div>




<label class="toggle">


<input

type="checkbox"

[checked]="notificationPrefs.spending_alerts"

(change)="onTogglePreference('spending_alerts',$any($event.target).checked)">


<span class="slider"></span>


</label>


</div>








<div class="notification-setting-item">


<div class="notification-setting-info">


<p class="notification-setting-title">

{{'configuration.goal_reminders' | translate}}

</p>


<span class="notification-setting-description">

{{'configuration.goal_reminders_desc' | translate}}

</span>


</div>




<label class="toggle">


<input

type="checkbox"

[checked]="notificationPrefs.goal_reminders"

(change)="onTogglePreference('goal_reminders',$any($event.target).checked)">


<span class="slider"></span>


</label>


</div>



</div>


</div>









<div

class="modal-backdrop"

*ngIf="showAddCategory">


<div class="modal-box">



<h3>

{{editingCategory
?
('configuration.edit_category' | translate)
:
('configuration.add_category' | translate)}}

</h3>





<div class="input-group">


<label>

{{'configuration.category_name' | translate}}

</label>



<input

type="text"

[(ngModel)]="categoryForm.name"

[placeholder]="
'configuration.category_placeholder' | translate
">


</div>





<div class="input-group">


<label>

{{'configuration.color' | translate}}

</label>



<input

type="color"

[(ngModel)]="categoryForm.color">


</div>







<div class="modal-actions">


<button

class="btn-cancel"

(click)="showAddCategory=false">

{{'common.cancel' | translate}}

</button>





<button

class="btn-save"

(click)="saveCategory()"

[disabled]="isSubmitting">


{{isSubmitting
?
('common.saving' | translate)
:
('common.save' | translate)}}


</button>


</div>



</div>


</div>



</div>
