/* =====================================
   Account Summary
===================================== */


.summary-container {


    display:grid;


    grid-template-columns:repeat(3,1fr);


    gap:16px;


    width:100%;


    margin:0 auto 30px;


    padding:0 20px;


    box-sizing:border-box;


    direction:inherit;


}







.stat-box {


    background:#18181b;


    border:1px solid rgb(39,39,42);


    border-radius:16px;


    padding:22px;


    display:flex;


    flex-direction:column;


    gap:10px;


    transition:.2s;


}







.stat-box:hover {


    border-color:#52525b;


    transform:translateY(-2px);


}







.stat-label {


    color:#a1a1aa;


    font-size:14px;


    font-weight:500;


}







.stat-value {


    color:#fafafa;


    font-size:30px;


    font-weight:800;


    margin:0;


    direction:ltr;


    text-align:start;


}





.stat-value span {


    color:#a1a1aa;


    font-size:13px;


    font-weight:400;


    margin-inline-start:5px;


}







html[dir="rtl"] .summary-container {


    direction:rtl;


}





html[dir="ltr"] .summary-container {


    direction:ltr;


}









@media(max-width:900px){


    .summary-container {


        grid-template-columns:1fr;


        padding:0;


    }



}






@media(max-width:600px){


    .stat-box {


        padding:18px;


    }



    .stat-value {


        font-size:24px;


    }


}
