<div class="table-container">
<div class="toolbar">

<div class="search-group">

<input
class="search-input"
type="text"
[placeholder]="'transactions.search' | translate">

<button class="search-btn">
{{'common.search' | translate}}
</button>

</div>

<button
class="add-transaction-btn"
(click)="showAddModal=true">

+ {{'transactions.add' | translate}}

</button>

</div>


<div class="table-wrapper">

<table class="main-table">

<thead>
<tr>

<th></th>

<th>
{{'transactions.category' | translate}}
</th>

<th>
{{'transactions.expense' | translate}}
</th>

<th>
{{'transactions.income' | translate}}
</th>

</tr>
</thead>


<tbody>

<ng-container *ngFor="let group of groups">


<tr
class="group-row"
(click)="toggleRow(group.category__name)">

<td>

<span
class="arrow"
[class.open]="expandedRows.has(group.category__name)">

▶

</span>

</td>


<td class="cat-name">

{{group.category__name}}

</td>


<td class="expense-cell">

{{(group.total_expense || 0) | number:'1.0-0'}}
{{'currency.symbol' | translate}}

</td>


<td class="deposit-cell">

{{(group.total_deposit || 0) | number:'1.0-0'}}
{{'currency.symbol' | translate}}

</td>


</tr>



<tr
*ngIf="expandedRows.has(group.category__name)">

<td colspan="4">


<table class="inner-table">

<thead>

<tr>

<th>
{{'transactions.description' | translate}}
</th>

<th>
{{'transactions.account' | translate}}
</th>

<th>
{{'transactions.date' | translate}}
</th>

<th>
{{'transactions.amount' | translate}}
</th>

<th>
{{'transactions.type' | translate}}
</th>

</tr>

</thead>


<tbody>


<tr
*ngFor="let item of group.items">


<td>
{{item.desc}}
</td>


<td>
{{item.account}}
</td>


<td>
{{item.date}}
</td>


<td class="amount-cell">

{{item.amount | number:'1.0-0'}}
{{'currency.symbol' | translate}}

</td>


<td>

{{item.kind === 'expense'
?
('transactions.expense' | translate)
:
('transactions.income' | translate)}}

</td>


</tr>


</tbody>

</table>


</td>

</tr>


</ng-container>


</tbody>



<tfoot>

<tr class="totals-row">


<td colspan="2">

{{'transactions.total' | translate}}

</td>


<td class="expense-cell">

{{grandTotalExpense | number:'1.0-0'}}
{{'currency.symbol' | translate}}

<br>

<span>

{{'transactions.average' | translate}}:

{{avgExpense | number:'1.0-0'}}

{{'currency.symbol' | translate}}

</span>

</td>



<td class="deposit-cell">

{{grandTotalDeposit | number:'1.0-0'}}
{{'currency.symbol' | translate}}

<br>

<span>

{{'transactions.average' | translate}}:

{{avgDeposit | number:'1.0-0'}}

{{'currency.symbol' | translate}}

</span>

</td>


</tr>

</tfoot>


</table>

</div>

</div>



<app-add-new-transaction

*ngIf="showAddModal"

(close)="showAddModal=false"

(saved)="onTransactionSaved()">

</app-add-new-transaction>
