<div
class="nav-relative-container"
*ngIf="isUserLoggedIn">


<nav class="navbar">


<div class="nav-menu">


<label class="segment-item"
routerLink="/home"
routerLinkActive="active-item"
(click)="moveIndicator($event)">

<div class="chakra-stack">

<span>⌂</span>

<p>
{{'menu.home' | translate}}
</p>

</div>

</label>




<label class="segment-item"
routerLink="/transactions"
routerLinkActive="active-item"
(click)="moveIndicator($event)">

<div class="chakra-stack">

<span>☷</span>

<p>
{{'menu.transactions' | translate}}
</p>

</div>

</label>




<label class="segment-item"
routerLink="/accounts"
routerLinkActive="active-item"
(click)="moveIndicator($event)">

<div class="chakra-stack">

<span>▣</span>

<p>
{{'menu.accounts' | translate}}
</p>

</div>

</label>




<label class="segment-item"
routerLink="/plans"
routerLinkActive="active-item"
(click)="moveIndicator($event)">

<div class="chakra-stack">

<span>◫</span>

<p>
{{'menu.plans' | translate}}
</p>

</div>

</label>




<label class="segment-item"
routerLink="/budget"
routerLinkActive="active-item"
(click)="moveIndicator($event)">

<div class="chakra-stack">

<span>▤</span>

<p>
{{'menu.budget' | translate}}
</p>

</div>

</label>




<label class="segment-item"
routerLink="/analytics"
routerLinkActive="active-item"
(click)="moveIndicator($event)">

<div class="chakra-stack">

<span>◔</span>

<p>
{{'menu.analytics' | translate}}
</p>

</div>

</label>




<label class="segment-item"
routerLink="/configuration"
routerLinkActive="active-item"
(click)="moveIndicator($event)">

<div class="chakra-stack">

<span>⚙</span>

<p>
{{'menu.settings' | translate}}
</p>

</div>

</label>


</div>





<div class="language-switch">


<button
(click)="changeLanguage('fa')">

🇮🇷

</button>


<button
(click)="changeLanguage('en')">

🇬🇧

</button>


</div>






<div class="notification-wrapper">


<button
class="notification-btn"
(click)="toggleNotifications()">

🔔


<span
*ngIf="unreadCount > 0"
class="badge">

{{unreadCount}}

</span>


</button>




<div
class="notification-dropdown"
*ngIf="showNotifications">


<div class="dropdown-header">

<h4>
{{'notifications.title' | translate}}
</h4>


<button
(click)="markAllAsRead()">

{{'notifications.read_all' | translate}}

</button>

</div>




<div class="notification-list">


<div
*ngFor="let n of notifications"
class="notification-item">


<div class="notification-icon">

🔔

</div>


<div class="notification-content">


<p class="notification-title">

{{n.title}}

</p>


<p class="notification-message">

{{n.message}}

</p>


</div>


</div>




<div
*ngIf="notifications.length === 0"
class="empty-notifications">


{{'notifications.empty' | translate}}


</div>


</div>


</div>


</div>






<label
class="logout-item"
(click)="logout()">


<div class="chakra-stack">


<span>
⇦
</span>


<p>
{{'common.logout' | translate}}
</p>


</div>


</label>



</nav>


</div>
