html[dir="rtl"] .notification-dropdown{
  right:0;
  left:auto;
}

html[dir="ltr"] .notification-dropdown{
  right:auto;
  left:0;
}

html[dir="rtl"] .badge{
  left:-5px;
  right:auto;
}

html[dir="ltr"] .badge{
  right:-5px;
  left:auto;
}
