<div class="login-page">


  <div class="login-card">



    <div class="language-switcher">


      <button

        *ngFor="let lang of languages"

        type="button"

        [class.active]="currentLanguage === lang.code"

        (click)="changeLanguage(lang.code)">


        {{lang.name}}


      </button>


    </div>





    <h2>

      {{'auth.title' | translate}}

    </h2>





    <p>

      {{

      mode === 'login'

      ?

      ('auth.login.description' | translate)

      :

      ('auth.register.description' | translate)

      }}

    </p>





    <div

      *ngIf="errorMessage"

      class="error-message">


      {{errorMessage}}


    </div>







    <div *ngIf="mode === 'login'">


      <div class="form-group">


        <label>

          {{'auth.username' | translate}}

        </label>


        <input

          type="text"

          [(ngModel)]="credentials.username"

          [placeholder]="

          'auth.username_placeholder' | translate

          ">


      </div>





      <div class="form-group">


        <label>

          {{'auth.password' | translate}}

        </label>


        <input

          type="password"

          [(ngModel)]="credentials.password"

          [placeholder]="

          'auth.password_placeholder' | translate

          ">


      </div>





      <button

        type="button"

        (click)="onLogin()">


        {{'auth.login.button' | translate}}


      </button>





      <p class="switch-mode">


        {{'auth.login.no_account' | translate}}


        <a (click)="switchMode('register')">

          {{'auth.register.button' | translate}}

        </a>


      </p>



    </div>









    <div *ngIf="mode === 'register'">


      <div class="form-group">

        <label>

          {{'auth.username' | translate}}

        </label>


        <input

          type="text"

          [(ngModel)]="registerData.username"

          [placeholder]="

          'auth.username_new_placeholder' | translate

          ">


      </div>





      <div class="form-group">


        <label>

          {{'auth.email' | translate}}

        </label>


        <input

          type="email"

          [(ngModel)]="registerData.email">


      </div>





      <div class="form-group">


        <label>

          {{'auth.password' | translate}}

        </label>


        <input

          type="password"

          [(ngModel)]="registerData.password"

          [placeholder]="

          'auth.password_create_placeholder' | translate

          ">


      </div>





      <div class="form-group">


        <label>

          {{'auth.confirm_password' | translate}}

        </label>


        <input

          type="password"

          [(ngModel)]="registerData.confirmPassword"

          [placeholder]="

          'auth.confirm_password_placeholder' | translate

          ">


      </div>





      <button

        type="button"

        (click)="onRegister()">


        {{'auth.register.submit' | translate}}


      </button>





      <p class="switch-mode">


        {{'auth.register.have_account' | translate}}


        <a (click)="switchMode('login')">


          {{'auth.login.button' | translate}}


        </a>


      </p>



    </div>



  </div>


</div>
