<div class="import-backdrop">

<div class="import-modal">


<div class="import-header">

<div>

<h2>
{{'import.title' | translate}}
</h2>


<p>
{{'import.description' | translate}}
</p>

</div>


<button
class="close-btn"
(click)="closeModal()">

×

</button>


</div>





<div class="import-body">



<div class="input-group">

<label>

{{'import.account' | translate}}

</label>


<select
[(ngModel)]="selectedAccount">


<option
[ngValue]="null"
disabled>

{{'import.select_account' | translate}}

</option>


<option
*ngFor="let account of accounts"
[ngValue]="account.id">

{{account.name}}

</option>


</select>

</div>







<div class="input-group">

<label>

{{'import.expense_category' | translate}}

</label>


<select
[(ngModel)]="selectedExpenseCategory">


<option
[ngValue]="null"
disabled>

{{'import.select_expense_category' | translate}}

</option>


<option
*ngFor="let category of categories"
[ngValue]="category.id">

{{category.name}}

</option>


</select>

</div>







<div class="input-group">

<label>

{{'import.income_category' | translate}}

</label>


<select
[(ngModel)]="selectedIncomeCategory">


<option
[ngValue]="null"
disabled>

{{'import.select_income_category' | translate}}

</option>


<option
*ngFor="let category of categories"
[ngValue]="category.id">

{{category.name}}

</option>


</select>

</div>








<div class="file-section">


<label class="file-label">

{{'import.csv_file' | translate}}

</label>



<label class="file-picker">


<input

type="file"

accept=".csv,text/csv"

(change)="onFileSelected($event)">


<div class="upload-icon">

↑

</div>



<div>


<strong>

{{'import.choose_csv' | translate}}

</strong>


<span>

{{'import.only_csv' | translate}}

</span>


</div>


</label>







<div
*ngIf="selectedFile"
class="selected-file">


<span class="file-icon">

CSV

</span>



<div class="file-info">


<strong>

{{selectedFile.name}}

</strong>


<span>

{{(selectedFile.size / 1024) | number:'1.0-0'}}
KB

</span>


</div>



<span class="check-icon">

✓

</span>


</div>


</div>







<div class="import-info">

<strong>

{{'import.how_it_works' | translate}}

</strong>


<p>

{{'import.auto_detect' | translate}}

<br>

{{'import.currency_note' | translate}}

</p>


</div>








<div
*ngIf="errorMessage"
class="error-message">


<span>

!

</span>


{{errorMessage}}


</div>






<div
*ngIf="successMessage"
class="success-message">


<span>

✓

</span>


{{successMessage}}


</div>



</div>








<div class="import-footer">


<button

class="cancel-btn"

[disabled]="importing"

(click)="closeModal()">

{{'common.cancel' | translate}}

</button>





<button

class="import-btn"

[disabled]="importing"

(click)="importTransactions()">



<span *ngIf="!importing">

{{'import.start' | translate}}

</span>



<span *ngIf="importing">

{{'import.loading' | translate}}

</span>



</button>


</div>



</div>

</div>
