<div class="assets-card">



  <!-- Header -->

  <div class="card-header">


    <div class="header-content">


      <div class="icon-wrapper">

        💰

      </div>





      <div class="text-group">


        <h3>

          {{'assets.title' | translate}}

        </h3>




        <p>

          {{'assets.description' | translate}}

        </p>



      </div>



    </div>


  </div>









  <!-- Assets List -->


  <div class="assets-list">


    <div

      class="asset-row"

      *ngFor="let asset of assets">





      <div class="asset-info">



        <span class="name">

          {{asset.name}}

        </span>





        <span class="type">


          {{

          asset.asset_type === 'liquid'

          ?

          ('assets.types.liquid' | translate)

          :

          ('assets.types.illiquid' | translate)

          }}


        </span>








        <div class="amount-row">


          <span class="price">


            {{asset.amount_toman | number:'1.0-0'}}

            {{'currency.symbol' | translate}}



          </span>






          <span

            class="growth"

            *ngIf="asset.growth_rate > 0">


            {{'assets.growth' | translate}}

            {{asset.growth_rate}}

            ٪



          </span>




        </div>



      </div>









      <div class="action-buttons">



        <button

          class="edit-btn"

          (click)="onEdit(asset)"

          [title]="'common.edit' | translate">


          ✏️


        </button>








        <button

          class="delete-btn"

          (click)="onDelete(asset.id)"

          [title]="'common.delete' | translate">


          🗑️


        </button>



      </div>






    </div>



  </div>









  <!-- Import -->


  <button

    class="import-btn"

    (click)="openImportModal()">



    📥


    {{'assets.import_accounts' | translate}}


    ({{assets.length}})



  </button>









  <!-- Add Asset -->


  <button

    class="add-button"

    (click)="openModal()">



    +

    {{'assets.add' | translate}}



  </button>









  <!-- Create / Edit Modal -->


  <div

    class="modal-overlay"

    *ngIf="showModal"

    (click)="closeModal()">





    <div

      class="modal-content"

      (click)="$event.stopPropagation()">





      <h4>


        {{

        isEditMode

        ?

        ('assets.edit_title' | translate)

        :

        ('assets.create_title' | translate)

        }}


      </h4>








      <div class="form-grid">





        <div class="form-group">


          <label>


            {{'assets.form.name' | translate}}


          </label>




          <input

            [(ngModel)]="newAsset.name"

            [placeholder]="

            'assets.form.name_placeholder' | translate

            ">



        </div>









        <div class="form-group">


          <label>


            {{'assets.form.type' | translate}}


          </label>





          <select

            [(ngModel)]="newAsset.asset_type">



            <option

              *ngFor="let t of assetTypes"

              [value]="t.value">


              {{t.label | translate}}



            </option>



          </select>



        </div>









        <div class="form-group">


          <label>


            {{'assets.form.amount' | translate}}


          </label>





          <div class="input-with-label">


            <input

              type="number"

              [(ngModel)]="newAsset.amount">



            <span>

              {{'currency.symbol' | translate}}

            </span>



          </div>



        </div>









        <div class="form-group">


          <label>


            {{'assets.form.liquidity_penalty' | translate}}


          </label>





          <div class="input-with-label">


            <input

              type="number"

              [(ngModel)]="newAsset.liquidity_penalty">



            <span>

              %

            </span>



          </div>



        </div>









        <div class="form-group">


          <label>


            {{'assets.form.growth_rate' | translate}}


          </label>





          <div class="input-with-label">


            <input

              type="number"

              [(ngModel)]="newAsset.growth_rate">



            <span>

              %

            </span>



          </div>



        </div>









        <div class="form-group">


          <label>


            {{'assets.form.income_rate' | translate}}


          </label>





          <div class="input-with-label">


            <input

              type="number"

              [(ngModel)]="newAsset.annual_income_rate">



            <span>

              %

            </span>



          </div>



        </div>





      </div>









      <div class="modal-actions">



        <button

          class="btn-cancel"

          (click)="closeModal()">



          {{'common.cancel' | translate}}



        </button>







        <button

          class="btn-save"

          (click)="onSubmit()">



          {{

          isEditMode

          ?

          ('common.update' | translate)

          :

          ('common.create' | translate)

          }}



        </button>





      </div>






    </div>




  </div>









  <!-- Import Modal -->


  <div

    class="modal-overlay"

    *ngIf="showImportModal"

    (click)="showImportModal=false">





    <div

      class="import-card"

      (click)="$event.stopPropagation()">





      <div class="import-header">



        <div class="title-section">


          <h4>

            {{'assets.import_title' | translate}}

          </h4>



          <p>

            {{'assets.import_description' | translate}}

          </p>



        </div>






        <button

          class="close-x"

          (click)="showImportModal=false">


          ×


        </button>




      </div>









      <div class="selection-area">





        <div

          class="acc-row"

          *ngFor="let acc of availableAccounts"

          [class.selected]="selectedAccountIds.includes(acc.id)"

          (click)="toggleAccountSelection(acc.id)">





          <div>


            <span class="acc-name">

              {{acc.name}}


            </span>



            <span class="acc-type">


              {{acc.type}}


            </span>



          </div>






          <div class="acc-amount">



            {{acc.balance | number}}

            {{'currency.symbol' | translate}}





          </div>





        </div>




      </div>









      <div class="import-footer">



        <button

          class="btn-cancel-link"

          (click)="showImportModal=false">


          {{'common.cancel' | translate}}


        </button>






        <button

          class="btn-confirm-import"

          [disabled]="selectedAccountIds.length===0"

          (click)="confirmImport()">



          {{'assets.import' | translate}}

          {{selectedAccountIds.length}}



        </button>





      </div>






    </div>





  </div>





</div>
